.main-content {
    max-width: 90%;
  }
  
  #wiki-sidebar {
    width: 17%;
  }
  
  ul {
    list-style-type: square;
  }

body {
    background-image: url("parchment.jpg");
    background-color: #cccccc;
   }